<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="assets/css/slider.css">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    <script src="assets/scripts/js/slider.js"></script>

    <title>Lab 3</title>
</head>
<style>
    .inner-wrapper {
        max-width: 1380px;
    }
</style>
<body>
<header class="inner-wrapper">
    <div class="inner-wrapper">
        <nav>
            <div class="flex_container">
                <img src="assets/images/nstu.png" width="90" height="90" alt="nstu" class="nstuImg">
                <h1 class="labHeader">Лабораторная работа №4</h1>
            </div>
        </nav>
    </div>
</header>
<main class="inner-wrapper abs">
    <article>
        <section>
            <div class="title_container">
                <div class="title_name">Это гостевая страница</div>
                <div class="title_border"></div>
            </div>
            <div style="display: flex; justify-content: center">
                <span>Это страница для неавторизированных пользователей, для продолжения действия попробуйте авторизироваться</span>
            </div>
            <div class="title_container">
                <div class="title_name">♡</div>
                <div class="title_border"></div>
            </div>
            <div class="slider">
                <img src="assets/images/11.jpg" alt="Изображение 1" class="slide">
                <img src="assets/images/22.jpg" alt="Изображение 2" class="slide">
                <img src="assets/images/33.jpg" alt="Изображение 3" class="slide">
                <img src="assets/images/44.jpg" alt="Изображение 4" class="slide">
                <img src="assets/images/55.jpg" alt="Изображение 5" class="slide">
                <img src="assets/images/66.jpg" alt="Изображение 6" class="slide">
                <img src="assets/images/77.jpg" alt="Изображение 7" class="slide">
            </div>
            <div class="someData">
                <h2>История основания НГТУ-НЭТИ</h2>
                <p>После Великой Отечественной войны Новосибирск стал одним из главных промышленных центров
                    Западно-Сибирского региона. В это же время в нашем городе начала складываться система
                    профессионального образования. К концу 40-х - началу 50-х гг. в Новосибирске было два транспортных,
                    строительный и геодезический вузы. Кроме того, инженеров готовил Сибирский филиал Всесоюзного
                    заочного энергетического института. В начале 50-х открылись еще два технических вуза: Новосибирский
                    электротехнический институт (НЭТИ) и Новосибирский электротехнический институт связи (НЭИС).</p>
                <h3>Становление института</h3>
                <p>Постановление об организации НЭТИ было принято Советом Министров 19 августа 1950 года и подписано
                    Сталиным. Первоначально институт предполагалось строить в центре города. Но для строительства вуза
                    требовался большой земельный участок. Участок около 20 га был выделен на левом берегу Оби. Доступная
                    и удобная связь с центром города появилась лишь спустя несколько лет, когда был построен
                    коммунальный мост через Обь (1956 г.) и открыта станция метро "Студенческая". Руководил
                    строительством нового вуза кандидат технических наук Андрей Ксенофонтович Потужный, который стал в
                    последствии первым ректором НЭТИ.</p>
                <p>1 сентября 1953 г. начались учебные занятия на 1 курсе Новосибирского электротехнического института.
                    150 студентов приступило в то время к занятиям на двух факультетах: 75 человек училось на
                    радиотехническом факультете, 75 человек - на электромеханическом.</p>
                <p>Первые учебные занятия проходили в шести переоборудованных под аудитории квартирах жилого дома на
                    улице Римского-Корсакова. Через год (в 1954 г.) было построено первое крупное здание НЭТИ -
                    студенческое общежитие. Первый учебный корпус, ставший главным среди остальных, был возведен в 1960
                    г. Строительство НЭТИ продолжалось в течение многих лет.</p>
                <p>В год открытия института в штате на трех кафедрах работало 11 преподавателей и 7 лаборантов. Приток
                    преподавателей начался во второй половине 50-х, когда стали открываться новые факультеты. В 1955 г.
                    из Львова в Новосибирск приехал недавний выпускник Московского энергетического института кандидат
                    технических наук, доцент Георгий Павлович Лыщинский, после недолгого пребывания в должности
                    заместителя директора Новосибирского электротехнического института он был назначен ректором и
                    возглавлял вуз до ноября 1989 г. Под его руководством был создан крупнейший политехнический вуз
                    Новосибирска. Педагогический и научный коллектив нового института складывался сравнительно быстро,
                    благодаря активной помощи крупных вузов страны. Первым штатным профессором НЭТИ стал П.М. Алабужев,
                    перешедший в 1957 г. из Томского политехнического института. Уже с конца 50-х гг. молодой вуз рос и
                    развивался как политехнический.</p>
                <p>Шло постоянное обогащение научной и учебной базы вуза.</p>
                <h3>Первые достижения</h3>
                <p>В 60-е годы руководство вуза уделяло большое внимание кинофикации учебного процесса. В 1974 г. был
                    организован телеканал, связавший вуз с научным центром в Академгородке.</p>
                <p>В 1964 г. в НЭТИ был создан первый вычислительный центр (ламповая ЭВМ "Минск-1"), и началось активное
                    использование вычислительной техники в научных исследованиях и в учебном процессе. В 1971г. был
                    создан первый по счету класс автоматизированного контроля знаний студентов и учреждена
                    психологическая служба.</p>
                <p>Со времени своего создания НЭТИ активно обменивается опытом с другими вузами, в том числе
                    зарубежными: в 1968 г. был заключен договор о сотрудничестве с Силезским политехническим институтом
                    (Польша), 1972 году - с Высшей технической школой г. Хемница (Германия), в 1969 г. образован
                    Головной совет Минвуза России по педагогике высшего образования.</p>
                <p>Количество студентов и людей, желающих обучаться в НЭТИ, росло с каждым годом. С 1969 года ведется
                    подготовка абитуриентов для поступления в вуз. Число студентов в 1971 году составляло 12913 человек,
                    а к 1980 г. на 11 факультетах НЭТИ обучалось уже 15610 человек (это рекордное количество студентов).
                    В это время в институте работали 21 штатный профессор и 17 профессоров совместителей.</p>
                <p>Через 35 лет после своего создания Новосибирский электротехнический институт вошел в число ведущих
                    вузов страны. Но научно-образовательный потенциал вуза позволил ему не останавливаться на
                    достигнутом и выйти на качественно новый уровень развития.</p>
                <h3>От НЭТИ к НГТУ</h3>
                <p>Еще в 70-х гг. ректор начал подготовку преобразования НЭТИ в технический университет. Реализовать эту
                    идею удалось спустя 20 лет. В апреле 1992 года Новосибирский электротехнический институт успешно
                    прошел государственную аттестацию и решением Министерства науки, высшей школы и технической политики
                    Российской Федерации был переименован в Новосибирский государственный технический университет
                    (НГТУ).</p>
                <p>Стратегия развития НГТУ как вуза нового типа была определена в 1990-1993 гг. В 1990 году коллективом
                    университета ректором института был избран доктор технических наук, профессор Анатолий Сергеевич
                    Востриков. Новым ректором разрабатывается модель Новосибирского технического университета. Взят курс
                    на насыщение научной сферы знаний, углубление ее взаимодействия со сферой образования. Наибольшее
                    значение придается активизации научной деятельности (расширению фундаментальных исследований,
                    созданию проблемных научно-исследовательских институтов).</p>
                <p>В мае 1993 г. был утвержден основной документ университета - Устав НГТУ, в это же время Ученый совет
                    утвердил эмблему вуза.</p>
                <p>8 февраля 1995 года решением большинства участников конференции трудового коллектива А.С. Востриков
                    вновь возглавил ректорат Новосибирского электротехнического института.</p>
                <p>Новый состав ректората поддержал стратегию качественного развития института. Основными направлениями
                    развития вуза стали: увеличение объемов научной работы, развитие издательской деятельности, переход
                    на многоуровневую структуру подготовки специалистов, внедрение системы контрактного обучения,
                    компьютеризация вуза, совершенствование системы управления.</p>
                <p>Вуз стал ориентироваться на подготовку по специальностям, имеющим большой спрос у населения.
                    Отчетливо видна тенденция повышения престижа нового технического университета. В 1990 г. НЭТИ
                    занимал - 12 место в рейтинге 17 политехнических вузов России. В 1992 г. НГТУ занял 10 место среди
                    46 технических университетов, а в 1993 г. он переместился на 7 место, несмотря на то, что в список
                    были включены уже 85.</p>
                <p>В декабре 1996 году государственная комиссия по аттестации НГТУ подтвердила статус вуза. Она признала
                    готовность вуза к выпуску специалистов высокой квалификации по всем направлениям высшего, после
                    вузовского и дополнительного профессионального образования. А.С. Востриков, вновь переизбранный в
                    начале 2000 года на должность ректора НГТУ, продолжает работу по реформированию вуза.</p>
                <p>В 2017 году Новосибирский государственный технический университет в числе 22 российских вузов стал
                    победителем второго этапа конкурса программы Министерства образования и науки Российской Федерации
                    по созданию опорных вузов.</p>
                <h3>Университет сегодня</h3>
                <p>Сегодня Новосибирский государственный технический университет является одним из крупнейших
                    научно-образовательных центров России. Здесь обеспечивается подготовка и переподготовка
                    квалифицированных специалистов для научно-промышленного комплекса Сибири и Дальнего Востока,
                    выполнение фундаментальных и прикладных научных исследований и подготовка на их основе кандидатов и
                    докторов наук. В НГТУ работают 968 штатных преподавателей, кандидатов и докторов наук. Также к
                    проведению занятий в НГТУ привлекаются крупные ученые, в т. ч. зарубежные специалисты. С этой целью
                    в институтах СО РАН, отраслевых НИИ, КБ и на ведущих промышленных предприятиях созданы филиалы
                    университетских кафедр, заключены долгосрочные договоры о совместной работе более, чем с 20
                    зарубежными вузами и фирмами Германии, США, Англии, Франции, Турции, КНР, Монголии, Кореи и других
                    стран.</p>
                <p>НГТУ располагается в 8 корпусах, которые имеют все необходимое оснащение для качественного проведения
                    учебных занятий. Организованы общеуниверситетские, факультетские и кафедральные классы на базе
                    современных персональных компьютеров (на сегодняшний день всего 3203). Все 8 корпусов НГТУ и
                    общежития подключены к локальной сети университета, в составе которой более 443 серверов различного
                    уровня и назначения; 2770 рабочих мест подключены ко Всемирной Глобальной Сети Интернет. Лаборатории
                    технических факультетов укомплектованы современными станками, контрольно-измерительным
                    оборудованием, промышленными роботами. Совместно с зарубежными фирмами организованы авторизованные
                    учебные центры.</p>
                <p>К услугам студентов - самая крупная в городе вузовская библиотека с богатым фондом учебной,
                    художественной, научной литературы и периодики. Научная библиотека НГТУ является Научно-методическим
                    центром библиотек вузов города. В НГТУ имеется хорошая издательская база, позволяющая полностью
                    обеспечить университет методической литературой, издавать учебники, учебные пособия, научные труды,
                    монографии.</p>
                <p>В настоящее время в НГТУ существует 11 факультетов дневного отделения, Институт дистанционного
                    обучения, Институт социальных технологий и реабилитации, факультет повышения квалификации, Институт
                    дополнительного профессионального образования, факультет довузовского образования, центр
                    дистанционного довузовского образования, народный факультет. Общее число студентов превышает 13 000
                    человек. Подготовка ведется по 95 направлениям (бакалавриат, магистратура) и 5 специальностям
                    высшего образования и по 7 специальностям и направлениям среднего профессионального образования.</p>
                <p>Ведется реформирование структуры университета, производственных и финансово-экономических отношений.
                    Начата работа по укрупнению факультетов и обеспечению их автономии. Изменена система оплаты труда
                    всех сотрудников университета, введена контрактная система приема на работу. Разработана новая
                    методика формирования учебной нагрузки. Осуществляется политика экономии всех ресурсов,
                    рационального использования бюджетных средств; активизируется внебюджетная деятельность вуза.</p>
                <p>Университет имеет хорошую кадровую и техническую базу для ведения научной деятельности, здесь давно
                    сложились свои научные школы. Наиболее известные из них занимаются фундаментальными исследованиями
                    по следующим направлениям: автоматическое управление; новые автоматизированные средства измерения,
                    контроля, диагностики; математическое и информационное обеспечение экспертных систем для
                    исследования сложных объектов; гибридные методы и программные комплексы расчетов на прочность и
                    надежность конструкций; повышение устойчивости, экономичности и качества больших энергетических
                    систем; новые типы электронных и радиотехнических устройств; математическое моделирование и
                    оптимизация сложных механических систем и др.</p>
                <p>Все это создает необходимые условия для организации учебного процесса на самом высоком
                    профессиональном уровне и одновременно учитывать потребность народного хозяйства в специалистах.</p>
                <p>За последние годы учеными университета опубликовано более 100 монографий, 152 межвузовских сборника
                    научных трудов, более 6000 статей; получено более 1600 авторских свидетельств на изобретения;
                    успешно ведется подготовка научных кадров высшей квалификации через аспирантуру и докторантуру
                    университета. Десять специализированных Советов по защите диссертаций имеют право присваивать
                    степень доктора наук. В университете работают учебные научные центры, организованные совместно с
                    фирмами США ("Sun microsystems" inc.), Германии ("Motorola"). С зарубежными вузами и фирмами
                    заключены долгосрочные договоры по научной и учебной работе, внешнеэкономической деятельности. Во
                    всех формах научной работы активно участвуют студенты.</p>
                <p>В НГТУ большое внимание уделяется развитию и улучшению социально-бытовых условий студентов и
                    сотрудников. В учебных корпусах и общежитиях работают столовые, буфеты и кафе. Проявляется забота и
                    о здоровье будущих специалистов. В НГТУ работают: профилакторий, поликлиника, стационар, два
                    спортивно-оздоровительных лагеря: "Шарап" на 550 Мест, расположенный на берегу Обского моря, и
                    "Эрлагол" на 180 мест - в Горном Алтае; спортивный комплекс с игровыми залами, с зимним плавательным
                    бассейном и залами для работы секций; имеются стадион, лыжная база.</p>
                <p>Большое значение в НГТУ придается культурному воспитанию студентов. Успешно работает Центр культуры с
                    лабораторией гуманитарного образования; широко известны Академический хор университета - победитель
                    различных конкурсов, в том числе международного (Прага, 1990 год), ансамбль скрипачей, театр
                    миниатюр и др.</p>
                <p>За годы существования университет подготовил более 90 000 специалистов, которые работают инженерами,
                    научными сотрудниками, руководителями научных лабораторий институтов, объединений, министерств.
                    Около 2000 выпускников работают на должностях всех уровней в институтах СО РАН.</p>
            </div>
            <div class="exit_button">
                <a href="auth.html">
                    <button class="butt" id="exitButt">
                        Try to authorize
                    </button>
                </a>
            </div>
        </section>
    </article>
    <!--  aside будет виден только по высоте article  -->
    <aside>

    </aside>
</main>
<footer class="inner-wrapper">
    <nav>
        <span id="message">Выполнил студент группы АВТ-143 Кувандыков Р.Н.</span>
    </nav>
</footer>
</body>
<script>

</script>
</html>